html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1 {
    padding-top: 0px;
    margin: 0px 0 0 0px;
}

h6 {
    padding-top: 0px;
    margin: 0px 0 0 0px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

#container{
    width:100%;
    height:100%;
}
.content {
    height: 100%;
    position: relative;
    overflow: auto;
    z-index: 0;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.top_block {
    width: 100%;
    display: block;
    height:75%;
}

.content_r {
    margin-top: -50px;
    height: 100%;
    position: relative;
    overflow: auto;
    z-index: 0;
}

.bottom_block {
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0;
}

.left_block {
    display: block;
    float: left;
}

.right_block {
    display: block;
    float: right;
}

.center_block {
    display: block;
    width: auto;
}

.header {
    width: 100%;
    height: 5%;
    background-color: #000;
    color: #a80840;
}

#content_menu{

}

#right_log {
    float:left;
    width:70%;
    text-align: right;
    height:10px;
}
#right_log h3 {
    margin-top: 7px;
    margin-right: 10px;
}

#left_text {
    float:left;
    width:30%;
}

#left_text h1 {
    padding-top: 0px;
    margin: 0px 0 0 10px;
}

.panel {
    width: 100%;
    height: 15%;
    background-color: #a1b5c6;
}

.main {
    width: 100%;
    min-height: 75%;
    background-color: #999966;
}

.background.rightbar {
    height: auto;
    padding-bottom: 0;
    right: 0;
    width: 20%;
    background-color: #996699;
}

.rightbar {
    width: 20%;
    padding-bottom: 0px;
}

.footer {
    width: 100%;
    height: 5%;
    background-color: #996666;
}